.post {
    width: 100%;

    a {
        width: 100%;
    }
}

.post__image {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
}

.post__text {
    margin-top: 10px;
    padding-left: 10px;
    border-left: 3px solid #96e6a1;

    h3 {
        font-size: 22px;
    }
}