.posts {
    min-height: 85vh;
    background-color: #f0fff4;

    .posts__section {
        width: 90vw;
        margin: 0 auto;

        @media (max-width: 840px) {
            width: 95vw;
        }
    }
}

.posts__header {
    text-align: center;

    h1 {
        padding-top: 20px;
        font-size: 3rem;

        @media (max-width: 500px) {
            font-size: 2rem;
        }
    }

    p {
        font-size: 1.5rem;
    }
}

.posts__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 30px;

    @media (max-width: 992px) {
        gap: 20px;
    }

    @media (max-width: 840px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin-top: 20px;
    }
}