.posts {
    min-height: 85vh;
    background-color: #f0fff4;

    .posts__section {
        width: 95vw;
        margin: 0 auto;
    }
}

.posts__header {
    text-align: center;

    h1 {
        padding-top: 20px;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.posts__articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}