.projects {
    min-height: 85vh;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 30px 100px 80px 100px;
    background-color: #f0fff4;

    @media only screen and (max-width: 1200px){
        padding: 30px 70px 80px 70px;
    }

    @media only screen and (max-width: 944px){
        padding: 30px 30px 80px 30px;
    }

    @media only screen and (max-width: 768px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 560px){
        gap: 2rem 1.5rem;
    }

    @media only screen and (max-width: 432px){
        grid-template-columns: 1fr
    }
}