.homemain {
    display: flex;
    align-items: center;
    width: 90vw;
    margin: 50px auto;
    padding: 50px 0;
    height: 100%;
}

.homemain__left {
    width: 50%;

    .homemain__textbox {
        max-width: 80%;

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .homemain__social {
        display: flex;
        margin-top: 50px;

        a {
            background-color: #f0f0f0;
            border: 1px solid #888;
            margin-right: 15px;
            padding: 5px;
            border-radius: 50%;
            height: 50px;
            width: 50px;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s;

            &:hover {
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
                background-color: #fff;
            }
        }

        img {
            width: 30px;
            opacity: .9;
            transition: .5s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.homemain__right {
    width: 50%;

    .homemain__slider {
        overflow: hidden;

        ul li button {
            &::before {
                font-size: 10px;
                color: rgb(158, 158, 171);
            }
        }

        .slick-dots {
            position: unset;

            li.slick-active button::before {
                color: #00b318;
            }
        }

        .slick-list {
            overflow: initial;
        }

        & > button {
            opacity: 1;
            height: 100%;
            width: 5vw;
            z-index: 1;
        }

        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }

        img {
            width: 100%;
        }
    }
}